# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# IDE-specific files
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3

# Environment variables
.env

# Dependency directories
node_modules/

